/* Met les marges sur les côtés des titres + alignement centre*/
.article__titre {
    text-align: center;
    color: var(--titrepage);
    margin: 0px 20px;
  }
/* Met les marges sur les côtés des légendes */
  .article figcaption{
    margin: 0px 20px;
  }
/* Met les marges sur les côtes des paragraphes dans "article" */
  .article p{
    margin: 0px 15px 25px 20px;
  }

/* Image modification taille */ 

.article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgheros1{
    width: 295px;
    height: 524px;
}

.imgheros2{
    width: 346px;
    height: 433px;
}

.imgheros3{
    width: 262px;
    height: 465px;
}

.imgheros4{
    width: 346px;
    height: 195px;
}


 