/* Pour rendre les images responsives */
img {
    max-width: 100%;
    height: auto;
  }
  
figcaption {
   font-size: 12px;
   line-height: 13px;
   color: var(--gray-600);

   border: 1px solid #A7A7A7;
  }

