:root {

    /* Color styles */
    --rectangle-contour: rgba(212, 210, 235, 1);
    --couleur--footer: rgba(255, 255, 255, 1);
    --texte: rgba(0, 0, 0, 1);
    --formulaire: #FDFDF1;
    --titrepage: #595770;
    --rectangle--titrepage: #D4D2EB;
    --contour-rectangle--accueil: #A68568;

    /* Text-size styles */
    --titre--page: 17px;
    --texte: 16px;
    --legende: 11px;
    --titre--article: 18px;
    --menu--burger: 17px;
    --numans: 12px;
    --dm--sans--medium: 12px;
    --dm--sans--regular: 12px;
    --dm--sans--bold: 12px;
    --free-sans-texte: 12px;

    /* Police de texte*/

    --police--texte: 'FreeSans', medium;
    --police--titrepage: 'Numans';
    --police--legende: 'Numans';

        /* Espaces */
    --space1x: 8px;
    --space2x: 16px;
    --space3x: 24px;
    --space4x: 48px;
    --space5x: 80px;

}
