/* Pour construire le menu en mobile : 
On construit le menu tel qu'il sera une fois ouvert.
On ajoute les propriétés "visibility: hidden" et "opacity: 0" pour masquer le menu. */
.menu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right : 0;
    background-color: var(--brand-violet);
    font-size: var(--text-xl);
    letter-spacing: var(--letter-spacing);
    transition: all .4s ease-in-out;
  }