body{
    background-image: url("C:\Users\bptho\Desktop\projet 48 Thomas Paquier\public\img\fond.jpg");
    background-repeat: no-repeat;
    left: 0px;
    top: 700px;
}


.snippet__titre{
    font-family: Young forever;
    font-style: normal;
    font-size:20px;
    text-align: center;
    width: 300px;
    margin: 10px auto;
}

.snippet__bloc{
    position: absolute;
    margin: 80px auto;
    width: 250px;
    height: 120px;
    background: #FFFFFF;
    border: 5px solid #A68568;
}
.snippet__bloc1{
    position: absolute;
    margin: 80px auto;
    width: 250px;
    height: 38px;
    background: #FFFFFF;
    border: 5px solid #A68568;
}

p.snippet__bloc, span.voirplus,.snippet__bloc, .snippet__bloc1{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 14px;
    font-family: var(--police--titrepage);
}

.voirplus{
    top:35px;
}

.hbloc1{
    top: -4px;
}