.hpage{
    position: relative;
    font-family: Numans;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 375px;
    top: 65px;

    
    background: var(--rectangle--titrepage);
}